@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.logo img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
}
:root{
    --bg-color:#495580;
    --main-color: black;
    --text-color: #fff;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    line-height: 1.5;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background: var(--bg-color);
    padding-left: 30rem;
}
.dark-mode {
    background-color: #1f2937;
    color: beige;
    .pre-title{
        color: aliceblue;
    }
}
.dark-mode p{
    color: #fff;
}

body {
    transition: background-color 0.3s ease;
}

.dark-mode {
    background-color: black;
    color: #fff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-list' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M1 2.5A.5.5 0 0 1 1.5 2h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM1.5 6A.5.5 0 0 0 1 6.5h13a.5.5 0 0 0 0-1h-13a.5.5 0 0 0 .5.5zM1 9.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM1.5 13a.5.5 0 0 0-.5.5h13a.5.")
}
section{
    padding:1rem 5%;
    min-height: 100vh;
}
.heading{
    font-size: 4rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    text-transform: uppercase;
}
.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    background:#1e2335;
    color:#fff;
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover{
    background:#111;
    letter-spacing: .2rem;
}
header{
    position: fixed;
    top:0; left:0; bottom:0;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding:8rem 2rem;
    width:30rem;
    text-align: center;
}
header .logo{
    text-transform: lowercase;
    color:#fff;
    font-size: 3rem;
    font-weight: bolder;
}
header .logo span{
    text-transform: lowercase;
    color: var(--bg-color);
}
header .navbar a{
    display: block;
    font-size: 2rem;
    color:#fff;
    margin:2rem 0;
}
header .navbar a:hover{
    letter-spacing: .2rem;
    color:var(--main-color);
}
header .follow a{
    font-size: 2.5rem;
    color:#fff;
    margin:0 .7rem;
}
header .follow a:hover{
    color:var(--main-color);
}
#menu-bars{
    position: fixed;
    top:1rem; right: 1rem;
    z-index: 10000;
    background:var(--main-color);
    color:#fff;
    border-radius: .5rem;
    padding:1rem 1.5rem;
    font-size: 3rem;
    cursor:pointer;
    display: none;
}
.cursor-1{
    position: absolute;
    top:0; left:0;
    height:1rem; width:1rem;
    background: #111;
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
}
.cursor-1.active{
    height:7rem;
    width:7rem;
    opacity: .3;
}
.cursor-2{
    position: absolute;
    top:0; left:0;
    height:4rem; width:4rem;
    border:.1rem solid #111;
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    transition: .3s linear;
}
.cursor-2.active{
    display: none;
}
.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}
.home .image{
    flex:1 1 40rem;
}
.home .image img{
    width:100%;
}
.home .content{
    flex:1 1 40rem;
}
.home .content .hi{
    font-size: 2rem;
    color:#111;
    text-transform: none;
}
.home .content p{
    font-size: 2rem;
    color:#111;
    text-transform: none;
}
.home .content h3{
    font-size: 4.5rem;
    color:#111;
    text-transform: none;
}
.home .content .info{
    font-size: 1.7rem;
    color:#111;
    padding:.5rem 0;
    text-transform: none;
}
.about .row-1{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-bottom: 2rem;
}
.about .row-1 .image{
    flex:1 1 25rem;
}
.about .row-1 .image img{
    height: 100%;
    width:100%;
    object-fit: cover;
    border:1rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
.about .row-1 .content{
    flex:1 1 50rem;
}
.about .row-1 .content h3{
    color:#111;
    font-size: 3.5rem;
    text-transform: none;
}
.about .row-1 .content p{
    color:#111;
    font-size: 1.7rem;
    padding:.5rem 0;
    text-transform: none;
}
.about .row-1 .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding: 0.5rem 0;
}
.about .row-1 .content .box-container .box{
    flex:1 1 20rem;
}
.about .row-2{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}
.about .row-2 .box-container{
    flex:1 1 40rem;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}
.about .row-2 .box-container .box{
    flex:1 1 15rem;
    background:#fff;
    padding:2rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
.about .row-2 .box-container .box h3{
    color:var(--main-color);
    font-size: 3rem;
}
.about .row-2 .box-container .box p{
    color:#666;
    font-size: 1.7rem;
    padding-top: .5rem;
}
.educations .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}
.educations .box-container .box{
    flex:1 1 30rem;
    text-align: center;
    padding:2rem;
    background:#fff;
    border-radius: .5rem;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}
.educations .box-container .box i{
    height:6rem;
    width:6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color:#fff;
    background: #111;;
    border-radius: 50%;
}
.educations .box-container .box h3{
    color:#444;
    font-size: 2.2rem;
    padding-top: 1rem;
}
.educations .box-container .box p{
    color:#666;
    font-size: 1.7rem;
    padding-top: .5rem;
}
.achievements{
    background: var(--bg-color);
}

.achievements h1{
    margin-bottom: 4rem;
}

.box-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.box-container .box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.box img{
    width: 100%;
    transition: .5s ease;
    opacity: 0.7;
}

.box:hover img{
    transform: scale(1,1);
}

.box .achievements-layer{
    position: absolute;
    bottom: o;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.box:hover .achievements-layer{
    transform: translateY(0);
}

.achievements-layer h4{
    font-size: 3rem;
}

.achievements-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.achievements-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: black;
    border-radius: 50%;
}

.achievements-layer a i{
    font-size: 2rem;
    color: black;
}
.contact .icons-container{
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}
.contact .icons-container .icons{
    flex:1 1 25rem;
    text-align: center;
    padding:2rem;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
}
.contact .icons-container .icons i{
    height:5rem;
    width:5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: #111;
    color:#fff;
    border-radius: 50%;
}
.contact .icons-container .icons h3{
    color:#111;
    font-size: 2rem;
    padding:.5rem 0;
    padding-top: 1rem;
    text-transform: none;
}
.contact .icons-container .icons p{
    color:#666;
    font-size: 1.7rem;
    text-transform: none;
}
.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}
.contact .row form{
    flex:1 1 55rem;
    background:#fff;
    padding:0 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
}
.contact .row .map{
    flex:1 1 25rem;
    border:1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    width: 100%;
}
.contact .row form .box,
.contact .row form textarea{
    width: 100%;
    border-bottom: .1rem solid #333;
    color:#333;
    text-transform: none;
    font-size: 1.7rem;
    padding:1rem 0;
    margin:1rem 0;
}
.contact .row form .box:focus,
.contact .row form textarea:focus{
    border-color: var(--main-color);
}
.contact .row form .box::placeholder,
.contact .row form textarea::placeholder{
    text-transform: capitalize;
}
.contact .row form textarea{
    height: 20rem;
    resize: none;
}
.contact .row form .btn{
    margin-top: 0;
    margin-bottom: 1.5rem;
}
.footer{
    margin-top: 2rem;
    font-size: 2rem;
    padding:2.5rem;
    text-align: center;
    color:#666;
    background: #fff;
}
.footer span{
    color:var(--main-color);
}
/* media queries  */
@media (max-width:991px){
    html{
        font-size: 55%;
    }   
    body{
        padding: 0;
    }
    #menu-bars{
        display: initial;
    }
    header{
        left:-120%;
    }
    header.active{
        left:0%;
    }
    .cursor-1,
    .cursor-2{
        display: none;
    }
}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
    header{
        width:100%;
    }
    .experience .box-container .box{
        padding-right: 0;
    }
}